/*  AdventPro */
@font-face {
  font-family: AdventPro-Medium;
  src: url(..//fonts/AdventPro_Expanded-Medium.ttf);
}
@font-face {
  font-family: AdventPro-Regular;
  src: url(..//fonts/AdventPro_Expanded-Regular.ttf);
}
@font-face {
  font-family: AdventPro-Bold;
  src: url(..//fonts/AdventPro_Expanded-Bold.ttf);
}
@font-face {
  font-family: AdventPro-BoldItalic;
  src: url(..//fonts/AdventPro_Expanded-BoldItalic.ttf);
}
/* PTSans */
@font-face {
  font-family: PTSans-Italic;
  src: url(..//fonts/PTSans-Italic.ttf);
}
@font-face {
  font-family: PTSans-Regular;
  src: url(..//fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: PTSans-Bold;
  src: url(..//fonts/PTSans-Bold.ttf);
}